.lemon_thing_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #497e99;
  height: 400px;
}


.lemon_thing {
  position: relative;
  height:200px;
  width:160px;
  border-radius: 50%; 
  background-color: #ffd57a;
  box-shadow:6px 1px  #fcc95b;
  transform: rotate(90deg)

}

.eyes {
z-index: 5;
transform: translate(-25px, -215px)
}

.left_eye {
  height:30px;
  width:30px;
  margin:25px;
  margin-top: 70px;
  border-radius: 50%;
  background-color:#343738;
}

.right_eye {
  height:30px;
  width:30px;
  margin:25px;
  margin-top:70px;
  border-radius: 50%;
  background-color: #343738;

}
.right_pupil{
  width:10px;
  height:10px;
  border-radius: 50%;
  background-color: whitesmoke;
  transform: translate(5px, 5px)
}

.left_pupil {
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:whitesmoke;
  transform: translate(5px,5px)
}

.tiny_pupil {
  width:5px;
  height:5px;
  border-radius: 50%;
  background-color: whitesmoke;
  transform:translate(18px, 5px)
}

.lemon_thing_shading{
  position: relative;
  z-index:3;
  height:200px;
  width:80px;
  border-radius: 0 90px 90px 0;
  background: #fcc54e;
  transform: translate(120px, 40px) rotate(90deg);
}

.lemon_thing_nobs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_nob {
  position: relative;
  z-index: 0;
  width:35px;
  height:45px;
  border-radius: 50%;
  background-color: #ffd57a;
  transform: translate(0, -108px)
} 

.top_nob_shading {
  position: relative;
  height:35px;
  width:16px;
  border-radius: 0 90px 90px 0;
  background-color:#fcc54e;
  transform: translate(18px, 1px)
  
}


.top_bud {
  position: relative;
  height:10px;
  width:10px;
  border-radius: 50%; 
  background-color:#4d4640;
  transform: translate(13px, -35px)
}

.bottom_bud {
  position: relative;
  height:10px;
  width:10px;
  border-radius: 50%; 
  background-color:#4d4640;
  transform: translate(12px, 4px)
}

.bottom_nob {
  position: relative;
  width:35px;
  height:45px;
  border-radius: 50%;
  background-color: #ffd57a;
  transform: translate(0, 25px)
}


.bottom_nob_shading {
  position: relative;
  height:35px;
  width:16px;
  border-radius: 0 90px 90px 0;
  background-color:#fcc54e;
  transform: translate(18px, 10px)
}

.lemon_thing_leaf {
  position: relative;
  z-index: 1;
  width: 55px;
  height: 95px;
  background-color:#aad481;
  transform:translate(-2px,-42px)rotate(40deg);
  border-radius: 70%  0%  70% 0%  ;
  animation: lemon_thing_leaf 3s infinite;
}


@keyframes lemon_thing_leaf {
  0% {
    background-color: #aad481
  }
  50% {
    background-color: #8bb562
  }

  100% {
    background-color:#aad481
  }
}


.mouth{
   z-index: 5;
   position: relative;
   margin:auto;
   width: 220px;
   height:2px;
   background-color: #4d4640;
   transform: rotate(270deg) translate(-100px, -110px)
 }
 
 .teeth {
  position: relative;
  z-index:  10;
   display: flex;
   flex-direction: row;
   justify-content: center;
   transform: translate(0px, 1px)
 }
 
 .tooth {
   height:15px;
   width: 30px;
   border-radius: 0 0 40px 40px;
   border: 1.5px solid #4d4640;
   background-color: whitesmoke;
 
 }