.tomato_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd57a;
  height: 350px;
}

.tomato_base {
    height:150px;
    width:190px;
    border-radius: 90px / 150px;
    background-color:#ed6f66;  
}

.tomato_shadow {
  position: relative;
  height:155px;
  width:100px;
  border-radius: 90px 150px 150px 90px;
  background:#ed4b45;
  transform: translate(90px, -68px)

}


.top_nob_shadow {
  position:relative;
  background-color:#ed4b45;
  height:25px;
  width:35px;
  border-radius: 0 90px 90px 0;
  transform: translate(0px, 15px) rotate(0deg);
}


.bottom_nob_shadow {
  position:relative;
  background-color:#ed4b45;
  height:28px;
  width:38px;
  border-radius: 0 90px 90px 0;
  transform: translate(-5px, 4px)
}


.tomato_ends {
  position: relative;
  z-index: 0;
}

.tomato_top {
  transform: translate(115px,-5px)rotate(270deg);
}

.tomato_top_right {
  position:relative;
  background-color:#ed4b45;
  height:50px;
  width:35px;
  border-radius: 0 90px 90px 0;
  transform: translate(-8px,-20px)rotate(-35deg)
}

.tomato_top_middle {
  position:relative;
  background-color:#ed6f66;
  height:50px;
  width:35px;
  border-radius: 0 90px 90px 0;
  transform: translate(-5px) rotate(0deg);
}

.tomato_top_left {
  position:relative;
  background-color:#ed6f66;
  height:50px;
  width:35px;
  border-radius: 0 90px 90px 0;
  transform: translate(-8px, 15px)rotate(35deg)
}

.tomato_bottom {
  transform: translate(125px,-5px)rotate(90deg);
}

.tomato_bottom_left {
  position:relative;
  background-color:#ed4b45;
  height:50px;
  width:35px;
  border-radius: 0 90px 90px 0;
  transform: translate(-5px,5px)rotate(-35deg)
}

.tomato_bottom_middle {
  position:relative;
  background-color:#ed6f66;
  height:50px;
  width:35px;
  border-radius: 0 90px 90px 0;
  transform: translate(-2px,10px)rotate(0deg)
}

.tomato_bottom_right {
  position:relative;
  background-color:#ed6f66;
  height:50px;
  width:35px;
  border-radius: 0 90px 90px 0;
  transform: translate(-5px, 20px)rotate(35deg)
}


.tomato_leaves {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(5px, -20px) rotate(30deg)
}


.tomato_leaf {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 65px solid#4ab069;
  position: relative;
  
}

.tomato_leaf:after {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 65px solid #4ab069;
  position: absolute;
  content: "";
  top: 20px;
  left: -35px;
}

.tomato_stem {
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 50px solid #2b8f32;
  transform: rotate(150deg) translate(20px, 10px) ;
  position: relative;
}

  
/* 

.tomato_leaves {
z-index: 1;
position:relative;
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
transform:translate(200px, -38px)
}

.center_leaves{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center_leaf1 {
  z-index: 1;
  position:relative;
  border-top:40px solid #4ab069;
  border-radius:10%;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: translate(200px, -90px)rotate(190deg)
}

.center_leaf2 {
  z-index: 1;
  position:relative;
  border-top:40px solid #4ab069;
  border-radius:10%;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: translate(300px, -90px)rotate(190deg)
}

.tomato_leaf1 {
  border-top:50px solid #4ab069;
  border-radius:20%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: translate(10px, -8px)rotate(35deg)
}

.tomato_leaf2 {
  border-top:50px solid #4ab069;
  border-radius:20%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform:translate(5px, 3px)rotate(0deg)

}

.tomato_leaf3 {
  border-top:50px solid #4ab069;
  border-radius: 20%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: translate(0px, -8px)rotate(-35deg)
}

.tomato_leaf4 {
  border-top:50px solid #4ab069;
  border-radius: 20%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: translate(20px, -30px)rotate(60deg)
}

.tomato_leaf5 {
  border-top:50px solid #4ab069;
  border-radius: 20%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: translate(-10px, -30px)rotate(-60deg)
} */